<div class="fixed inset-0 flex items-center justify-center bg-black/30">
  <div
    class="bg-white rounded-lg shadow-lg w-[600px] max-h-[90vh] flex flex-col"
  >
    <div class="p-5 border-b border-gray-400">
      <h2 class="text-xl font-semibold">Add Product</h2>
      <p class="text-gray-400">Fill in the details below to add a new item</p>
    </div>

    <form
      [formGroup]="productForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col flex-1 h-100"
    >
      <div class="flex-1 overflow-y-auto p-5 space-y-4">
        <div class="flex flex-col">
          <label class="text-sm font-medium mb-1">Product Name</label>
          <input
            type="text"
            formControlName="name"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Product Name
          </small>
        </div>

        <div class="flex justify-between">
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">SKU</label>
            <input
              type="text"
              formControlName="sku"
              class="border w-65 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter SKU
          </small>
          </div>
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Category</label>
            <input
              type="text"
              formControlName="category"
              class="border w-65 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Category
          </small>
          </div>
        </div>

        <div class="flex flex-col">
          <label class="text-sm font-medium mb-1">Description</label>
          <textarea
            formControlName="description"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          ></textarea>
          <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Description
          </small>
        </div>

        <div class="flex justify-between">
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Price</label>
            <input
              type="number"
              formControlName="price"
              class="border w-42 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Price
          </small>
          </div>
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Stock Qty</label>
            <input
              type="number"
              formControlName="stockQty"
              class="border w-42 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Stock Qty
          </small>
          </div>
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Min Stock</label>
            <input
              type="number"
              formControlName="minStock"
              class="border w-42 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Min Stock
          </small>
          </div>
        </div>

        <div class="flex justify-between">
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Status</label>
            <select
              formControlName="status"
              class="border w-65 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <option value="">Select Status</option>
              <option value="Available">Available</option>
              <option value="Expired">Expired</option>
              <option value="Low Stock">Low Stock</option>
              <option value="Not Available">Not Available</option>
            </select>
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Select Status
          </small>
          </div>
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Supplier</label>
            <input
              type="text"
              formControlName="supplier"
              class="border w-65 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Supplier
          </small>
          </div>
        </div>

        <div class="flex justify-between">
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Storage Location</label>
            <input
              type="text"
              formControlName="storageLoc"
              class="border w-65 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Storage Location
          </small>
          </div>
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1">Last Updated</label>
            <input
              type="date"
              formControlName="lastUpd"
              class="border w-65 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Last Updated
          </small>
          </div>
        </div>

        <div class="flex flex-col">
          <label class="text-sm font-medium mb-1">Image URL</label>
          <input
            type="text"
            formControlName="imgURL"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <small
            *ngIf="
              productForm.get('name')?.invalid &&
              productForm.get('name')?.touched
            "
            class="text-red-500"
          >
           Please Enter Image URL
          </small>
        </div>
      </div>

      <div
        class="p-5 rounded-lg border-t border-gray-400 flex justify-end space-x-2 bg-gray-50"
      >
        <button
          type="button"
          class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-gray-100 cursor-pointer"
          (click)="onClose()"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="productForm.invalid"
          class="px-4 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-700 cursor-pointer"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
